<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>

    <script>
        let post = {
            title: "json 으로 전송하는 제목",
            writer: "김준일",
            content: "내용을 전송합니다."
        }

        window.onload = () => {
            load();
        }

        function load() {
            request();
        }

        function request() {
            $.ajax({
                async: false,
                type: "post",
                url: "api/v1/json/post",
                contentType: "application/json",
                data: JSON.stringify(post),
                dataType: "json",
                success: (response) => {
                    console.log(response);
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }
        
    </script>

</body>
</html>