<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <form enctype="multipart/form-data">
        <input type="text" name="formDataText">
        <input type="file" name="file" class="file-upload-input" accept="image/gif, image/png, image/jpeg, image/jpg">
    </form>
    <img class="file-preview">

    <script>

       const fileInput = document.querySelector(".file-upload-input");

       fileInput.onchange = () => {
            getPreview();
            if(confirm("이미지 데이터 전송을 하시겠습니까?")) {
                request();
            }
       }

       function getPreview() {
            const reader = new FileReader();

            reader.onload = (e) => {
                const filePreview = document.querySelector(".file-preview");
                filePreview.src = e.target.result;
            }

            reader.readAsDataURL(fileInput.files[0]);
       }

       function getFormData() {
            const form = document.querySelector("form");

            const formData = new FormData(form);

            formData.append("title", "폼데이터 제목");
            formData.append("writer", "김준일");
            formData.append("content", "파일을 포함한 게시글");

            for(let pair of formData.entries()) {
                console.log(`key: ${pair[0]}, value: ${pair[1]}`);
            }

            return formData;
       }

        function request() {
            $.ajax({
                async: false,
                type: "post",
                url: "/api/v1/file/post",
                enctype: "multipart/form-data",
                contentType: false,
                processData: false,
                data: getFormData(),
                dataType: "json",
                success: (response) => {
                    console.log(response);
                    appendData(response);
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }

        function appendData (response) {
            const body = document.querySelector("body");
                    body.innerHTML += `
                        <h2>${response.code}</h2>
                        <h2>${response.msg}</h2>
                        <h2>${response.data[0]}</h2>
                    `;
        }
        
    </script>

</body>
</html>